* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body.primeiro {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: black;
    z-index: 1;
}

.topo {
    background-color: black;
    padding: 20px;
    text-align: center;
    cursor: default;
    user-select: none;
}

.links {
    background-color: transparent;
    gap: 10px;
    padding: 10px;
    margin-bottom: 2px;
    text-align: center;
    user-select: none;

}

.links a {
    color: blueviolet;
    padding: 12px 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.links a:hover {
    background-color: #222;
    border-color: blueviolet;
}

iframe {
    width: 100%;
    height: 1050px;
    border: none;
}

.lista {
    color: white;
    font-size: 20px;
    position: fixed;
    left: 25px;
    font-size: 23px;
    user-select: text;
}

.titulorotina {
    cursor: default;
    color: white;
    user-select: none;
}

.inicio {
    background-color: transparent;
    gap: 10px;
    padding: 10px;
    margin-bottom: 2px;
    text-align: center;
    position: fixed;
    bottom: 8px;
    left: 40%;
    right: 40%;
    user-select: none;
}

.inicio a {
    color: blueviolet;
    padding: 12px 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: 0.3s;


}

.inicio a:hover {
    background-color: #222;
    border-color: blueviolet;
}

.semanas {
    max-width: 1920px;
    user-select: none;
}


.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    user-select: none;
    margin: 20px auto;
}



.semanas {
    overflow-x: auto;
    /* permite rolagem horizontal em telas pequenas */
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    text-align: center;
    background-color: black;
    user-select: none;
}

th,
td {
    border: 4px solid white;
    padding: 10px;
    user-select: none;
}

th {
    user-select: none;
    background-color: black;
}

/* Links (se houver) */
.links {
    background-color: transparent;
    gap: 10px;
    padding: 10px;
    text-align: center;
    user-select: none;
}

.links a {
    color: blueviolet;
    padding: 12px 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: 0.3s;
}

.links a:hover {
    background-color: #222;
    border-color: blueviolet;
}

/* Responsivo */
@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
    }

    h1 {
        font-size: 28px;
    }

}

.treinotitulo {
    user-select: none;
}


img {

    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

a {

    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
}

.whats {
    position: fixed;
    bottom: 4px;
    right: 8px;
    text-decoration: none;
    transition: 0.3s;

}

.zap:hover {

    border: 2px solid;
    border-color: transparent;
    border-radius: 100%;
}

.instagram {
    position: fixed;
    bottom: 4px;
    right: 58px;
    text-decoration: none;
    transition: 0.3s;
}

.insta:hover {

    border: 2px solid;
    border-color: transparent;
    border-radius: 100%;
}
